.button{
  background-color: rgb(200, 41, 41);
  color: rgb(241, 207, 207);
  font-size: 7px;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
  border-color: rgb(200, 41, 41);
  margin-left: 15px;
}