.Login-header{
  background-color: brown;
  color: beige;
}

.usernamefield{
  font-size: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.field{
  padding: 5px 10px;;
}