
.header{
  font-size: 80px;
  color: rgb(179, 6, 6);
}

.name{
margin: 10 auto;
font-size: xx-large;
font-style: italic;
color: rgb(179, 6, 6);
}

.ingredients{
  margin: 10 auto;
position: relative;
font-size: large;
font-style: italic;
color: rgb(179, 6, 6);
}

.picture {
  margin: 0 auto;
  height: 150px;
  width: 150px;
}
.productcard{
  position: relative;
  text-align: center;
  border-color: rgba(200, 199, 199, 0.513);
  border-style: outset;
  border-width: 5px;
  border-radius: 20px;
  width: 300px;
  height: 380px;
}

@media (prefers-reduced-motion: no-preference) {
  .picture {
    animation: picture-spin infinite 20s linear;
  }
}

@keyframes picture-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.addbtn{
  position:absolute;
  bottom : 20px;
  left: 28.5%;
}

.field{
  size: 10 10;
}
.product-card-in{
  position:relative;
  top: 10px;
}
.price{
  font-size: large;
}